# данные
*.wav
*.npy
*.pth
*.TextGrid
labs/lab1_text/data/metadata_RUSLAN_22200.csv
labs/lab1_text/preprocess_ruslan_ish.py

# окружение
.venv/
__pycache__/
*.pyc
.pytest_cache/
.env

# редакторы
.idea/
.vscode/
.DS_Store

# модели
*.joblib
*.pkl